<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="aggressiveLazyLoading" value="false" />
        <setting name="multipleResultSetsEnabled" value="true" />
        <setting name="useColumnLabel" value="true" />
        <setting name="useGeneratedKeys" value="false" />
        <setting name="defaultExecutorType" value="SIMPLE" />
        <setting name="defaultStatementTimeout" value="25000" />
		 <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    
     <typeAliases>
        <typeAlias alias="TblShop" type="com.zhy.spider.bean.Shop" />
        <typeAlias alias="TblShopError" type="com.zhy.spider.bean.ShopError" />
    </typeAliases>
	<mappers>
		 <mapper resource="mappers/TblShop.xml"/>
		 <mapper resource="mappers/TblShopError.xml"/>
	</mappers>
</configuration>